<main>


    <section class="About section1">
        <div class="container">
            <div class="title about-me">

                <h2><span>ABOUT</span> ME</h2>

            </div>
            <div class="my-offers row my-5">
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/responsive.svg" alt="responsive icon">
                    <h3 class="text-center m-3">UX/UI Designer</h3>
                </div>
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/code.svg" alt="responsive icon">
                    <h3 class="text-center m-3">Web Developer</h3>
                </div>
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/3d.svg" alt="responsive icon">
                    <h3 class="text-center m-3">3D Designer</h3>
                </div>
            </div>
        </div>
        <div class="w-100 info-bg">
            <div class="info container m-auto py-5">
                <div class="text-center about_logo">
                    <img class="my-5 w-50" src="images/logo_color.svg" alt="logo yellow">
                </div>
                <div class="info-text">
                    <h3 class="my-5 font-weight-bold">LET'S TALK A BIT ABOUT ME...</h3>

                    <h4 class="my-5">
                        ... but wait, wanna know what my name means?
                        <br>
                        In Vietnamese, it means "Unicorn".
                        <br>
                        Now the logo makes sense, right? 😌😌</h4>
                    <p>My full name is Le Kien Lan, after finishing my first year at university, I decided to go to
                        Canada to study and develop my career in the future. I started the Interactive Media Design
                        course at Fanshawe College, London and wanted to become a designer at first. Fortunately, since
                        my course is all about media, I had an opportunity to get my hands on every aspect in this
                        field including design, photography, video, animation, 3d, development, marketing...
                        <br>
                        <br>
                        After the first semester of learning HTML and CSS, I realized coding was not boring at all and
                        started exploring more about Front-end, Back-end Development during the next semesters,
                        I eventually changed my opinion about coding. From a guy who thought coding was something
                        extremely hard and only nerds could study that, now I want to start my career as a web
                        developer, isn't that ironic?
                        <br>
                        <br>
                        Throughout my course, I have been working as a Front-end Developer and a Back-end Developer for
                        a lot of team projects and client projects. I am also voted for being a Project Manager for the
                        Final Integrated Project of our last semester.
                        <br>
                        <br>
                        With the love and knowledge about web development, a growth mindset and embrace changes, along
                        with the design foundation. I will be a competitive candidate for a Junior Front-end Developer
                        and a Web Designer position.
                </div>

            </div>

        </div>
    </section>

    <section class="Skills">
        <div class="container">
            <div class="title my-skills my-5">

                <h2>MY<span> SKILLS</span></h2>

            </div>


            <div class="row w-100 mx-0">
                <div class="development skill col-md-6 py-5 shadow">
                    <h2 class="py-4"><span>DEVELOPMENT</span> SKILLS</h2>
                    <div class="skill-detail">
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">HTML/CSS</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">JavaScript</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:85%"></span>
                            </span>
                        </div>

                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">NodeJS</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">PHP</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:70%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Bootstrap 4</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:90%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">SQL/MySQL</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Git/Github</h5>
                            <span class="mx-1 percent-wrapper">
                                <span class="percent" style="width:90%"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="design skill col-md-6 py-5 shadow">
                    <h2 class="p-4"><span>DESIGN</span> SKILLS</h2>
                    <div class="skill-detail">
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Photoshop</h5>
                            <span class="percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Illustrator</h5>
                            <span class="percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Adobe XD</h5>
                            <span class="percent-wrapper">
                                <span class="percent" style="width:80%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">After Effects</h5>
                            <span class="percent-wrapper">
                                <span class="percent" style="width:70%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Final Cut Pro</h5>
                            <span class="percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="skill-title">Cinema 4D</h5>
                            <span class="percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="Portfolio section2">
        <div class="container">
            <div class="title my-skills mt-5">

                <h2>MY<span> WORKS</span></h2>

            </div>
            <div class="row justify-content-between portfolio-nav m-3">
                <div class="switch"></div>
                <h5 style="color:white" class="text-center col-md-4 portfolio-filter py-3">ALL</h5>
                <h5 class="text-center col-md-4 portfolio-filter py-3">DEVELOPMENTS</h5>
                <h5 class="text-center col-md-4 portfolio-filter py-3">DESIGNS</h5>

            </div>
            <div class="portfolio text-center">
                <div class="row">
                    {{#each project}}
                    <a href="{{ID}}"
                        class="portfolio-piece d-flex align-items-center shadow justify-content-center col-md-6 {{field_name}}"
                        style="background-image: url(../{{thumbnail}});">

                        <h4 class=" display-4">{{name}}</h4>
                        <div class="overlay"></div>
                    </a>


                    {{/each}}
                    {{!-- </div> <button class="mt-5">See more</button> --}}
                </div>
            </div>
        </div>
    </section>


    <div class="modal" id="exampleModalCenter">
        <div class="fade-bg  close-lightbox"></div>
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content container p-0">
                <span class="close-lightbox close-btn">&times;</span>
                <section class="portfolio-page">
                    <h2 class="hidden">Description</h2>
                    <div class="header">

                    </div>




                    <div class="container portfolio-content row">
                        <div class="col-12 row justify-content-lg-between m-auto">
                            <div class="col-lg-7">
                                <h2 class="pb-3 mb-3 portfolio-piece-name">#</h2>
                                <ul class="link-wrapper p-0">

                                </ul>
                                <p class="my-3 promo-text"></p>

                            </div>
                            <div class="col-lg-4 text-center">
                                <img class="img-fluid  img-1" src="images/portfolio_piece/critterspraygun/header.jpg"
                                    alt="header">
                            </div>
                        </div>

                        <div class="tools w-100">
                            <h5 class="text-center my-5 display-4">TOOLS</h5>
                            <div class="tools-icons row justify-content-center">

                            </div>



                        </div>



                        <p class="col-md-8 text-center mx-auto my-5 para-1">
                        </p>
                        <div class=" col-12">
                            <img class="img-fluid img-2" src="#" alt="image 2">
                        </div>





                        <p class="col-md-8 text-center mx-auto my-5 para-2"></p>


                        <div class=" col-12">
                            <img class="img-3 img-fluid" src="#" alt="image 3">
                        </div>


                        <p class="col-md-8 text-center mx-auto my-5 para-3"></p>


                    </div>
                </section>

            </div>
        </div>
    </div>




</main>