<main>

    <section class="About">
        <div class="container">
            <div class="title about-me">
                <a href="#">
                    <h1><span>ABOUT</span> ME</h1>
                </a>
            </div>
            <div class="my-offers row">
                <div class="box col-md-2 m-5 mx-auto"></div>
                <div class="box col-md-2 m-5 mx-auto"></div>
                <div class="box col-md-2 m-5 mx-auto"></div>
            </div>
        </div>
        <div class="w-100 info-bg">
            <div class="info container row  m-auto py-3">

                <div class="info-text col-md p-5">
                    <h2>My full name is Le Kien Lan, I am from Vietnam.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ....</p>
                    <button class="mt-5 mx-auto">Read more</button>
                </div>
                <img class="col-md-4 p-md-5 m-auto" src="images/logo_yellow.svg" alt="logo yellow">
            </div>

        </div>
    </section>

    <section class="Skills">
        <div class="container">
            <div class="title my-skills my-5">
                <a href="#">
                    <h1>MY<span> SKILLS</span></h1>
                </a>
            </div>

        </div>
    </section>


</main>