<div class="container">
    <div class="row header-wrapper justify-content-center">
        <div class="col-md-6 text-center">
            <img class="potrait img-fluid w-100" src="images/potrait_2.png" alt="potrait">
        </div>
        <div class="shading d-md-none"></div>
        <div class="col-md-6 d-flex flex-column promo-text text-center text-md-left m-auto">
            <h5 class="lead">Hi there, my name is Lan, I ...</h5>
            <a href="#">
                <h1>CODE</h1>
            </a>
            <a href="#">
                <h1>DESIGN</h1>
            </a>
        </div>

    </div>
</div>



</header>


<main>


    <section class="About">
        <div class="container">
            <div class="title about-me">
                <a href="#"></a>
                <h1><span>ABOUT</span> ME</h1>
                </a>
            </div>
            <div class="my-offers row my-5">
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/responsive.svg" alt="responsive icon">
                    <h3 class="text-center m-3">Responsive Web Design</h3>
                </div>
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/code.svg" alt="responsive icon">
                    <h3 class="text-center m-3">Front-end Development</h3>
                </div>
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/3d.svg" alt="responsive icon">
                    <h3 class="text-center m-3">3D Design</h3>
                </div>
            </div>
        </div>
        <div class="w-100 info-bg">
            <div class="info container row  m-auto py-3">

                <div class="info-text col-md p-5">
                    <h2>My full name is Le Kien Lan, I am a quiet Vietnamese guy.</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ....</p>
                    <button class="mt-5 button">Read more</button>
                </div>
                <img class="col-md-4 p-md-5 m-auto" src="images/logo_yellow.svg" alt="logo yellow">
            </div>

        </div>
    </section>

    <section class="Skills">
        <div class="container">
            <div class="title my-skills my-5">
                <a href="#">
                    <h1>MY<span> SKILLS</span></h1>
                </a>
            </div>


            <div class="row w-100 mx-0">
                <div class="development skill col-md-6 py-5 shadow">
                    <h1 class="p-4"><span>DEVELOPMENT</span> SKILLS</h1>
                    <div class="skill-detail">
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">HTML/CSS</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">JavaScript</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:85%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">PHP</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:70%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Bootstrap 4</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:90%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">SQL</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Git/Github</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:90%"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="design skill col-md-6 py-5 shadow">
                    <h1 class="p-4"><span>DESIGN</span> SKILLS</h1>
                    <div class="skill-detail">
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Photoshop</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Illustrator</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Adobe XD</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:80%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">After Effects</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:70%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Final Cut Pro</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Cinema 4D</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="Portfolio">
        <div class="container">
            <div class="title my-skills my-5">
                <a href="#">
                    <h1>FEATURED<span> PORTFOLIO</span></h1>
                </a>
            </div>
            <div class="portfolio text-center">
                <div class="row">
                    <div class="col-md-4 portfolio-piece">

                    </div>
                    <div class="col-md-8 portfolio-piece">

                    </div>


                    <div class="col-md-8 portfolio-piece">

                    </div>
                    <div class="col-md-4 portfolio-piece">

                    </div>
                </div>
                <button class="mt-5">See more</button>
            </div>
        </div>
    </section>


</main>