<main>


    <section class="About section1">
        <div class="container">
            <div class="title about-me">
                <a href="#">
                    <h2><span>ABOUT</span> ME</h2>
                </a>
            </div>
            <div class="my-offers row my-5">
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/responsive.svg" alt="responsive icon">
                    <h3 class="text-center m-3">Responsive Web Design</h3>
                </div>
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/code.svg" alt="responsive icon">
                    <h3 class="text-center m-3">Front-end Development</h3>
                </div>
                <div class="box col-md-3 my-5 mx-auto text-center">
                    <img class="img-fluid" src="images/about_icons/3d.svg" alt="responsive icon">
                    <h3 class="text-center m-3">3D Design</h3>
                </div>
            </div>
        </div>
        <div class="w-100 info-bg">
            <div class="info container m-auto py-5">
                <div class="text-center about_logo">
                    <img class="my-5 w-50" src="images/logo_color.svg" alt="logo yellow">
                </div>
                <div class="info-text">
                    <h3 class="my-4">My full name is Le Kien Lan, I am a Vietnamese guy...</h3>
                    <p>After finshing my first year in univeristy, I decided to go to Canada in
                        order to study and
                        develop my career in the future. I started the Interactive Media Design course at Fanshawe
                        College, London and wanted to become a designer. However, since my course is both about design
                        and
                        code, I had an opportunity to explore code as well.
                        <br>
                        <br>
                        After one semester learning HTML and CSS, I changed my mind. Now, I want to be a full-stack
                        developer. I have started digging more into front-end and back-end developments in class and
                        also on the internet. I have some projects that I designed websites for real clients and have
                        learned a lot from them.
                        <br>
                        <br>

                        With the love and knowledge about web development, belong with the design foundation. I can be a
                        competitive candidate for Junior Front-end Developer position.</p>

                </div>

            </div>

        </div>
    </section>

    <section class="Skills">
        <div class="container">
            <div class="title my-skills my-5">
                <a href="#">
                    <h2>MY<span> SKILLS</span></h2>
                </a>
            </div>


            <div class="row w-100 mx-0">
                <div class="development skill col-md-6 py-5 shadow">
                    <h2 class="p-4"><span>DEVELOPMENT</span> SKILLS</h2>
                    <div class="skill-detail">
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">HTML/CSS</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">JavaScript</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:85%"></span>
                            </span>
                        </div>

                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">NodeJS</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">PHP</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:70%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Bootstrap 4</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:90%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">SQL/MySQL</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Git/Github</h5>
                            <span class="mx-1 w-75 percent-wrapper">
                                <span class="percent" style="width:90%"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="design skill col-md-6 py-5 shadow">
                    <h2 class="p-4"><span>DESIGN</span> SKILLS</h2>
                    <div class="skill-detail">
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Photoshop</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Illustrator</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:95%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Adobe XD</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:80%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">After Effects</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:70%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Final Cut Pro</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                        <div class="bar w-100 mb-4 d-flex justify-content-between">
                            <h5 class="w-25">Cinema 4D</h5>
                            <span class="w-75 percent-wrapper">
                                <span class="percent" style="width:75%"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <section class="Portfolio section2">
        <div class="container">
            <div class="title my-skills mt-5">
                <a href="#">
                    <h2>MY<span> WORKS</span></h2>
                </a>
            </div>
            <div class="row justify-content-between portfolio-nav m-3">
                <div class="switch"></div>
                <h5 style="color:white" class="text-center col-md-4 portfolio-filter py-3">ALL</h5>
                <h5 class="text-center col-md-4 portfolio-filter py-3">DEVELOPMENTS</h5>
                <h5 class="text-center col-md-4 portfolio-filter py-3">DESIGNS</h5>

            </div>
            <div class="portfolio text-center">
                <div class="row">
                    {{#each project}}
                    <a href="{{ID}}"
                        class="portfolio-piece d-flex align-items-center shadow justify-content-center col-md-6 {{field_name}}"
                        style="background-image: url(../{{thumbnail}});">

                        <h4 class=" display-4">{{name}}</h4>
                        <div class="overlay"></div>
                    </a>


                    {{/each}}
                    {{!-- </div> <button class="mt-5">See more</button> --}}
                </div>
            </div>
        </div>
    </section>


    <div class="modal" id="exampleModalCenter">
        <div class="fade-bg  close-lightbox"></div>
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content container p-0">
                <span class="close-lightbox close-btn">&times;</span>
                <section class="portfolio-page">
                    <h2 class="hidden">Description</h2>
                    <div class="header">

                    </div>


                    <div class="container portfolio-content row">
                        <div class="col-12 row justify-content-between">
                            <div class="col-lg-7">
                                <h2 class="display-3 pb-3 mb-3 portfolio-piece-name"></h2>
                                <ul class="link-wrapper p-0">

                                </ul>
                                <p class="my-3 promo-text"></p>

                            </div>
                            <div class="col-lg-4">
                                <img class="img-fluid  img-1" src="images/portfolio_piece/critterspraygun/header.jpg"
                                    alt="header">
                            </div>
                        </div>



                        <p class="col-md-8 text-center mx-auto my-5 para-1">
                        </p>
                        <div class=" col-12">
                            <img class="img-fluid img-2" src="" alt="image 2">
                        </div>



                        <p class="col-md-8 text-center mx-auto my-5 para-2"></p>


                        <div class=" col-12">
                            <img class="img-3 img-fluid" src="" alt="image 3">
                        </div>


                        <p class="col-md-8 text-center mx-auto my-5 para-3"></p>

                        <div class="tools w-100">
                            <h5 class="text-center my-5 display-3">TOOLS</h5>
                            <div class="tools-icons row justify-content-around">
                                <div class=" col-md-2 col-4 m-1 text-center">
                                    <i class="fab fa-3x fa-html5"></i>
                                    <h6 class="my-1">HTML</h6>
                                </div>
                                <div class=" col-md-2 col-4 m-1 text-center">
                                    <i class="fab fa-3x fa-css3-alt"></i>
                                    <h6 class="my-1">CSS</h6>
                                </div>
                                <div class=" col-md-2 col-4 m-1 text-center">
                                    <i class="fab fa-3x fa-js"></i>
                                    <h6 class="my-1">JavaScript</h6>
                                </div>
                                <div class=" col-md-2 col-4 m-1 text-center">
                                    <i class="fab fa-3x fa-sketch"></i>
                                    <h6 class="my-1">Sketch</h6>
                                </div>
                                <div class=" col-md-2 col-4 m-1 text-center">
                                    <i class="fab fa-3x fa-node-js"></i>
                                    <h6 class="my-1">NodeJS</h6>
                                </div>

                            </div>



                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>




</main>