<div class="container">
    <div class="row header-wrapper justify-content-center">
        <div class="col-md-6 text-center">
            <img class="potrait img-fluid w-100" src="images/potrait_2.png" alt="potrait">
        </div>
        <div class="shading d-md-none"></div>

        <div class="col-md-6 d-flex flex-column promo-text text-center text-md-left m-auto">
            <h1>LET'S EXPLORE MY WORK</h1>
        </div>
    </div>
</div>



</header>

<main>

    <section class="Portfolio">
        <div class="container">
            <div class="portfolio-filter d-md-flex justify-content-around my-5">
                <a class="text-center m-3" href="portfolio">
                    <h3>ALL</h3>
                </a>
                <a class="text-center m-3" href="portfolio/developments">
                    <h3>DEVELOPMENTS</h3>
                </a>
                <a class="text-center m-3" href="portfolio/designs">
                    <h3>DESIGNS</h3>
                </a>
            </div>
            <div class="portfolio text-center">
                <div class="row">
                    <div class="col-md-4 portfolio-piece">

                    </div>
                    <div class="col-md-8 portfolio-piece">

                    </div>


                    <div class="col-md-8 portfolio-piece">

                    </div>
                    <div class="col-md-4 portfolio-piece">

                    </div>

                    <div class="col-md-4 portfolio-piece">

                    </div>
                    <div class="col-md-8 portfolio-piece">

                    </div>


                    <div class="col-md-8 portfolio-piece">

                    </div>
                    <div class="col-md-4 portfolio-piece">

                    </div>
                </div>

            </div>
        </div>
    </section>

</main>