<div class="container portfolio-page">

    <div>
        <img class="img-fluid" src="images/portfolio_piece/critterspraygun/header.jpg" alt="header">
    </div>


    <section class="row justify-content-around my-5">
        <h1 class="hidden">Description</h1>
        <div class="col-md-6">
            <h2 class="display-3 pb-3 mb-3 portfolio-piece-name">CRITTER SPRAY GUN</h2>
            <a href="http://crittersprayproducts.ca/" target="_blank">http://crittersprayproducts.ca/</a>
            <br>
            <a href="http://crittersprayproducts.ca/" target="_blank">http://crittersprayproducts.ca/</a>
            <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
            <div>
                <h5>My role:</h5>
                <ul>
                    <li class="my-3 h3">Designer</li>
                    <li class="my-3 h3">Developer</li>
                </ul>

            </div>
        </div>
        <div class="col-md-5 bg-primary">
            aa
        </div>
    </section>
    <div class="row">

        <p class="col-md-8 text-center mx-auto my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam,
            libero
            maxime aut in
            autem ex id illo labore
            cupiditate, quasi consectetur cumque unde explicabo aliquam impedit totam voluptatum dignissimos tenetur.
        </p>
        <img class="img-fluid" src="images/portfolio_piece/critterspraygun/header.jpg" alt="header">


        <p class="col-md-8 text-center mx-auto my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam, libero maxime aut in autem ex
            id illo labore
            cupiditate, quasi consectetur cumque unde explicabo aliquam impedit totam voluptatum dignissimos tenetur.
        </p>
        <img class="img-fluid" src="images/portfolio_piece/critterspraygun/header.jpg" alt="header">
        <p class="col-md-8 text-center mx-auto my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam, libero maxime aut in autem ex
            id illo labore
            cupiditate, quasi consectetur cumque unde explicabo aliquam impedit totam voluptatum dignissimos tenetur.
        </p>
    </div>
    <div class="tools">
        <h5 class="text-center m-5 display-3">TOOLS</h5>
        <div class="tools-icons row justify-content-center">
            <div class=" col-2 m-1 text-center">
                <i class="fab fa-3x fa-html5"></i>
                <h6 class="my-1">HTML</h6>
            </div>
            <div class=" col-2 m-1 text-center">
                <i class="fab fa-3x fa-css3-alt"></i>
                <h6 class="my-1">CSS</h6>
            </div>
            <div class=" col-2 m-1 text-center">
                <i class="fab fa-3x fa-js"></i>
                <h6 class="my-1">JavaScript</h6>
            </div>
            <div class=" col-2 m-1 text-center">
                <i class="fab fa-3x fa-sketch"></i>
                <h6 class="my-1">Sketch</h6>
            </div>
            <div class=" col-2 m-1 text-center">
                <i class="fab fa-3x fa-node-js"></i>
                <h6 class="my-1">NodeJS</h6>
            </div>

        </div>



    </div>
</div>