<div class="error row text-center vw-100 vh-100 m-0">
    <div class="container my-auto">
        <i class="fas fa-heart-broken fa-7x"></i>

        <h2 class="status display-1">{{message}}</h2>
        <p>I'll get back to you as soon as possible :)</p>
        <a href="/">Go back</a>
    </div>
</div>