<div class="submission row text-center vw-100 vh-100 m-0">
    <div class="container my-auto">
        <i class="fas fa-heart fa-7x"></i>

        <h2 class="status display-1">Thank you</h2>
        <p>I'll get back as soon as possible :)</p>
        <a class="go-back" href="/">Go back</a>
    </div>
</div>