@import "../modules/vars";

.avatar {
  position: relative;
  z-index: 100;

  img {
    object-fit: cover;
    height: 500px;
  }
}

.my-background {
  p {
    line-height: 2em;
  }

  br {
    line-height: 150%;
  }
}

.logo-bg {
  background: $blue;
}
