@import "../modules/vars";

.switch {
  width: 100%;
  height: 33.33%;
  background: $yellow;
  position: absolute;
  transition: 0.5s;
}

.Portfolio {
  a {
    color: $blue;

    &:hover {
      color: $yellow;
    }
  }

  h3 {
    font-size: 20px;
    color: $yellow;
    transition: 0.5s;
  }
}

.portfolio-nav {
  position: relative;
}

.portfolio-piece {
  opacity: 0;
}

.portfolio-page {
  a {
    color: $blue;
    &:hover {
      color: $yellow;
    }
  }

  li,
  h5 {
    color: $yellow;
  }
}

@media screen and (min-width: 768px) {
  .switch {
    height: 100%;
    width: 33.33%;
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 1024px) {
  .portfolio-piece {
    height: 350px;
  }
}
