@import "../modules/vars";

.go-back {
  &:hover {
    color: $white;
  }

  color: $yellow;
  font-size: 20px;
  text-decoration: underline;
  font-weight: 300;
}

.submission {
  background: $blue;
  color: $white;
  p {
    font-size: 25px;
  }
}
